[submodule "themes/plain-n-simple"]
	path = themes/plain-n-simple
	url = https://github.com/hellozee/plain-n-simple.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/simple-hugo-theme"]
	path = themes/simple-hugo-theme
	url = https://github.com/Xzya/simple-hugo-theme
[submodule "themes/inkblotty"]
	path = themes/inkblotty
	url = https://github.com/tosi29/inkblotty.git
[submodule "themes/hugo-nuo"]
	path = themes/hugo-nuo
	url = https://github.com/laozhu/hugo-nuo
[submodule "themes/yinyang"]
	path = themes/yinyang
	url = https://github.com/joway/hugo-theme-yinyang
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
[submodule "themes/edidor"]
	path = themes/edidor
	url = https://github.com/jacobsun/edidor
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/dgraph"]
	path = themes/dgraph
	url = https://github.com/dgraph-io/hugo-dgraph-theme
[submodule "themes/temple"]
	path = themes/temple
	url = https://github.com/aos/temple.git
[submodule "themes/simpleblox"]
	path = themes/simpleblox
	url = https://github.com/okabrionz/simpleblox
